@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    background-color: #171719;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    display: none;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input:-webkit-autofill {
    /* CSS properties for autofill */
    color: #fff !important; /* Màu chữ */
    background-color: #000 !important; /* Màu nền */
    /* Thêm các thuộc tính CSS khác tùy ý */
  }

html, body {margin: 0; height: 100%; overflow: hidden}