@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    background-color: #171719;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html, body {margin: 0; height: 100%; overflow: hidden}