name: CI/CD - Deployment

on:
  push:
    branches:
      # - main
      - deploy/test
jobs:
  docker_build:
    runs-on: ubuntu-latest
    name: Docker Image Build
    steps:
      - uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: khoavhd/museverse-fe:latest
          secrets: |
            "REACT_APP_BACKEND_URL=${{ secrets.SSH_HOST }}"
            "WEB_URL=${{ secrets.DOCKER_USERNAME }}"

  deploy:
    runs-on: ubuntu-latest
    name: Continuous Deployment
    needs: [docker_build]
    steps:
      - name: Deploy docker container webhook
        uses: joelwmale/webhook-action@448a17bf857ead98546cfbdbe3b9d4cf979dda95
        with:
          url: http://${{ secrets.SSH_HOST }}:${{ secrets.WEBHOOK_PORT }}/hooks/redeploy-museverse-fe
